<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="webMarkupMin">
      <section name="core" type="WebMarkupMin.Core.Configuration.CoreConfiguration, WebMarkupMin.Core"/>
      <section name="msAjax" type="WebMarkupMin.MsAjax.Configuration.MsAjaxConfiguration, WebMarkupMin.MsAjax"/>
      <section name="yui" type="WebMarkupMin.Yui.Configuration.YuiConfiguration, WebMarkupMin.Yui"/>
      <section name="webExtensions" type="WebMarkupMin.Web.Configuration.WebExtensionsConfiguration, WebMarkupMin.Web"/>
    </sectionGroup>
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core"/>
      <section name="less" type="BundleTransformer.Less.Configuration.LessSettings, BundleTransformer.Less"/>
      <section name="microsoftAjax" type="BundleTransformer.MicrosoftAjax.Configuration.MicrosoftAjaxSettings, BundleTransformer.MicrosoftAjax"/>
    </sectionGroup>
    <sectionGroup name="jsEngineSwitcher">
      <section name="core" type="JavaScriptEngineSwitcher.Core.Configuration.CoreConfiguration, JavaScriptEngineSwitcher.Core"/>
      <section name="msie" type="JavaScriptEngineSwitcher.Msie.Configuration.MsieConfiguration, JavaScriptEngineSwitcher.Msie"/>
    </sectionGroup>
  </configSections>
  <webMarkupMin xmlns="http://tempuri.org/WebMarkupMin.Configuration.xsd">
    <core>
      <html whitespaceMinificationMode="Medium" removeHtmlComments="true" removeHtmlCommentsFromScriptsAndStyles="true" removeCdataSectionsFromScriptsAndStyles="true" useShortDoctype="true" useMetaCharsetTag="true" emptyTagRenderMode="NoSlash" removeOptionalEndTags="true" removeTagsWithoutContent="false" collapseBooleanAttributes="true" removeEmptyAttributes="true" attributeQuotesRemovalMode="Html5" removeRedundantAttributes="true" removeJsTypeAttributes="true" removeCssTypeAttributes="true" removeHttpProtocolFromAttributes="false" removeHttpsProtocolFromAttributes="false" removeJsProtocolFromAttributes="true" minifyEmbeddedCssCode="true" minifyInlineCssCode="true" minifyEmbeddedJsCode="true" minifyInlineJsCode="true" processableScriptTypeList="" minifyKnockoutBindingExpressions="false" minifyAngularBindingExpressions="false" customAngularDirectiveList=""/>
      <xhtml whitespaceMinificationMode="Medium" removeHtmlComments="true" removeHtmlCommentsFromScriptsAndStyles="true" renderEmptyTagsWithSpace="true" useShortDoctype="false" useMetaCharsetTag="false" removeTagsWithoutContent="false" removeEmptyAttributes="true" removeRedundantAttributes="true" removeHttpProtocolFromAttributes="false" removeHttpsProtocolFromAttributes="false" removeJsProtocolFromAttributes="true" minifyEmbeddedCssCode="true" minifyInlineCssCode="true" minifyEmbeddedJsCode="true" minifyInlineJsCode="true" processableScriptTypeList="" minifyKnockoutBindingExpressions="false" minifyAngularBindingExpressions="false" customAngularDirectiveList=""/>
      <xml minifyWhitespace="true" removeXmlComments="true" renderEmptyTagsWithSpace="false" collapseTagsWithoutContent="false"/>
      <css defaultMinifier="KristensenCssMinifier">
        <minifiers>
          <add name="NullCssMinifier" displayName="Null CSS Minifier" type="WebMarkupMin.Core.Minifiers.NullCssMinifier, WebMarkupMin.Core"/>
          <add name="KristensenCssMinifier" displayName="Mads Kristensen's CSS minifier" type="WebMarkupMin.Core.Minifiers.KristensenCssMinifier, WebMarkupMin.Core"/>
          <add name="MsAjaxCssMinifier" displayName="Microsoft Ajax CSS Minifier" type="WebMarkupMin.MsAjax.Minifiers.MsAjaxCssMinifier, WebMarkupMin.MsAjax"/>
          <add name="YuiCssMinifier" displayName="YUI CSS Minifier" type="WebMarkupMin.Yui.Minifiers.YuiCssMinifier, WebMarkupMin.Yui"/>
        </minifiers>
      </css>
      <js defaultMinifier="CrockfordJsMinifier">
        <minifiers>
          <add name="NullJsMinifier" displayName="Null JS Minifier" type="WebMarkupMin.Core.Minifiers.NullJsMinifier, WebMarkupMin.Core"/>
          <add name="CrockfordJsMinifier" displayName="Douglas Crockford's JS Minifier" type="WebMarkupMin.Core.Minifiers.CrockfordJsMinifier, WebMarkupMin.Core"/>
          <add name="MsAjaxJsMinifier" displayName="Microsoft Ajax JS Minifier" type="WebMarkupMin.MsAjax.Minifiers.MsAjaxJsMinifier, WebMarkupMin.MsAjax"/>
          <add name="YuiJsMinifier" displayName="YUI JS Minifier" type="WebMarkupMin.Yui.Minifiers.YuiJsMinifier, WebMarkupMin.Yui"/>
        </minifiers>
      </js>
      <logging defaultLogger="ThrowExceptionLogger">
        <loggers>
          <add name="NullLogger" displayName="Null Logger" type="WebMarkupMin.Core.Loggers.NullLogger, WebMarkupMin.Core"/>
          <add name="ThrowExceptionLogger" displayName="Throw exception logger" type="WebMarkupMin.Core.Loggers.ThrowExceptionLogger, WebMarkupMin.Core"/>
        </loggers>
      </logging>
    </core>
    <msAjax>
      <css blocksStartOnSameLine="NewLine" ignoreAllErrors="false" ignoreErrorList="" indentSize="4" lineBreakThreshold="2147482647" outputMode="SingleLine" preprocessorDefineList="" termSemicolons="false" colorNames="Strict" commentMode="Important" minifyExpressions="true"/>
      <js blocksStartOnSameLine="NewLine" ignoreAllErrors="false" ignoreErrorList="" indentSize="4" lineBreakThreshold="2147482647" outputMode="SingleLine" preprocessorDefineList="" termSemicolons="false" alwaysEscapeNonAscii="false" amdSupport="false" collapseToLiteral="true" constStatementsMozilla="false" debugLookupList="Debug,$Debug,WAssert,Msn.Debug,Web.Debug" errorIfNotInlineSafe="false" evalLiteralExpressions="true" evalTreatment="Ignore" ignoreConditionalCompilation="false" ignorePreprocessorDefines="false" inlineSafeStrings="true" knownGlobalNamesList="" localRenaming="CrunchAll" macSafariQuirks="true" manualRenamesProperties="true" noAutoRenameList="$super" preserveFunctionNames="false" preserveImportantComments="true" quoteObjectLiteralProperties="false" removeFunctionExpressionNames="true" removeUnneededCode="true" renamePairs="" reorderScopeDeclarations="true" strictMode="false" stripDebugStatements="true"/>
    </msAjax>
    <yui>
      <css lineBreakPosition="-1" removeComments="true"/>
      <js lineBreakPosition="-1" obfuscateJavascript="true" preserveAllSemicolons="false" disableOptimizations="false" ignoreEval="false"/>
    </yui>
    <webExtensions enableMinification="true" disableMinificationInDebugMode="true" enableCompression="true" disableCompressionInDebugMode="true" maxResponseSize="100000" disableCopyrightHttpHeaders="false"/>
  </webMarkupMin>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
    <clear/>
    <remove name="LocalSqlServer"/>
    <add name="ApplicationServices" connectionString="Data Source=|DataDirectory|ZiZhuJY.sqlite;Version=3;" providerName="System.Data.SQLite"/>
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="NotAllowedImage" value="~/Content/Images/NotAllowed.gif"/>
    <add key="PhantomJSExeVirtualPath" value="phantomjs.exe"/>
    <add key="GrabWebPageToPDFJsScriptVirtualPath" value="grabWebPageToPDF.js"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="*.gif" verb="*" type="ZiZhuJY.Web.UI.HttpHandlers.ImageGuardHandler, ZiZhuJY.Web.UI, Version=1.0.0.0, Culture=neutral" validate="false"/>
      <add path="*.png" verb="*" type="ZiZhuJY.Web.UI.HttpHandlers.ImageGuardHandler, ZiZhuJY.Web.UI, Version=1.0.0.0, Culture=neutral" validate="false"/>
      <add path="*.jpg" verb="*" type="ZiZhuJY.Web.UI.HttpHandlers.ImageGuardHandler, ZiZhuJY.Web.UI, Version=1.0.0.0, Culture=neutral" validate="false"/>
      <add path="test.simple" verb="*" type="ZiZhuJY.Web.UI.HttpHandlers.SimpleHandler, ZiZhuJY.Web.UI, Version=1.0.0.0, Culture=neutral" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880"/>
    </authentication>
    <membership defaultProvider="SQLiteMembershipProvider">
      <providers>
        <clear/>
        <remove name="AspNetSqlMembershipProvider"/>
        <!--<add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>-->
        <add applicationName="SQLite ASP.NET Provider" passwordFormat="Clear" minRequiredNonalphanumericCharacters="0" minRequiredPasswordLength="2" maxInvalidPasswordAttempts="2" enablePasswordReset="true" enablePasswordRetrieval="true" passwordAttemptWindow="10" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" connectionStringName="ApplicationServices" name="SQLiteMembershipProvider" type="ZiZhuJY.Data.SQLite.SQLiteMembershipProvider"/>
      </providers>
    </membership>
    <profile defaultProvider="SQLiteProfileProvider">
      <providers>
        <clear/>
        <add applicationName="SQLite ASP.NET Provider" connectionStringName="SQLiteDbConnection" name="SQLiteProfileProvider" type="ZiZhuJY.Data.SQLite.SQLiteProfileProvider"/>
        <!--<add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>-->
      </providers>
    </profile>
    <roleManager enabled="true" cacheRolesInCookie="true" cookieProtection="Validation" defaultProvider="SQLiteRoleProvider">
      <providers>
        <clear/>
        <add applicationName="SQLite ASP.NET Provider" connectionStringName="ApplicationServices" name="SQLiteRoleProvider" type="ZiZhuJY.Data.SQLite.SQLiteRoleProvider"/>
        <!--<add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
                <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>-->
      </providers>
    </roleManager>
    <httpModules>
      <!--<add name="zizhujyUrlRewrite" type="zizhujy.HttpModules.UrlRewrite, zizhujy"/>-->
      <!--<add name="WhitespaceModule" type="ZiZhuJY.Web.UI.HttpModules.WhitespaceModule, ZiZhuJY.Web.UI" />-->
    </httpModules>
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="Cache30Days" duration="2592000" location="ServerAndClient" varyByContentEncoding="gzip;deflate" varyByParam="*"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<modules runAllManagedModulesForAllRequests="true"/>-->
    <!-- Even though above solution works absolutely fine, it can cause other problem as it runs all your registered HTTP modules on every request (even on every request of .jpg .gif .css .html .pdf etc) and it is obviously waste of resource. Instead -->
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="UrlRoutingModule-4.0"/>
      <add name="UrlRoutingModule-4.0" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition=""/>
    </modules>
    <handlers>
      <remove name="SimpleHandler"/>
      <add name="SimpleHandler" path="test.simple" verb="*" type="ZiZhuJY.Web.UI.HttpHandlers.SimpleHandler, ZiZhuJY.Web.UI, Version=1.0.0.0, Culture=neutral" resourceType="Unspecified" preCondition="integratedMode"/>
      <remove name="ImageGuardHandlerPng"/>
      <add name="ImageGuardHandlerPng" path="*.png" verb="*" type="ZiZhuJY.Web.UI.HttpHandlers.ImageGuardHandler, ZiZhuJY.Web.UI, Version=1.0.0.0, Culture=neutral" resourceType="Unspecified" preCondition="integratedMode"/>
      <remove name="ImageGuardHandlerGif"/>
      <add name="ImageGuardHandlerGif" path="*.gif" verb="*" type="ZiZhuJY.Web.UI.HttpHandlers.ImageGuardHandler, ZiZhuJY.Web.UI, Version=1.0.0.0, Culture=neutral" resourceType="Unspecified" preCondition="integratedMode"/>
      <remove name="ImageGuardHandlerJpg"/>
      <add name="ImageGuardHandlerJpg" path="*.jpg" verb="*" type="ZiZhuJY.Web.UI.HttpHandlers.ImageGuardHandler, ZiZhuJY.Web.UI, Version=1.0.0.0, Culture=neutral" resourceType="Unspecified" preCondition="integratedMode"/>
      <remove name="ZiZhuJYJavaScriptHandler"/>
      <add name="ZiZhuJYJavaScriptHandler" path="*.js" verb="*" type="ZiZhuJY.Web.UI.HttpHandlers.JavaScriptHandler, ZiZhuJY.Web.UI, Version=1.0.0.0, Culture=neutral" resourceType="Unspecified" preCondition="integratedMode"/>
      <remove name="ZiZhuJYCssHandler"/>
      <add name="ZiZhuJYCssHandler" path="*.css" verb="*" type="ZiZhuJY.Web.UI.HttpHandlers.CssHandler, ZiZhuJY.Web.UI, Version=1.0.0.0, Culture=neutral" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
    <!-- Used WebMarkupMin.Mvc now -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <!--<httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files" staticCompressionDisableCpuUsage="90" staticCompressionEnableCpuUsage="60" dynamicCompressionDisableCpuUsage="80" dynamicCompressionEnableCpuUsage="50">
      <scheme name="gzip_Layout" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <dynamicTypes>
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="video/x-flv" enabled="true" />
        <add mimeType="application/x-shockwave-flash" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="text/*" enabled="true" />
        <add mimeType="a_Layoutpplication/json; charset=utf-8" enabled="true" />
        <add mimeType="scripts" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
      <staticTypes>
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/x-javascript" enabled="true" />
        <add mimeType="text/css" enabled="true" />
        <add mimeType="video/x-flv" enabled="true" />
        <add mimeType="application/x-shockwave-flash" enabled="true" />
        <add mimeType="text/javascript" enabled="true" />
        <add mimeType="text/*" enabled="true" />
        <add mimeType="scripts" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" dynamicCompressionBeforeCache="true" doDynamicCompression="true" />-->
    <staticContent>
      <!-- Tell client to cache static files for a year -->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00"/>
      <!-- 
          Fix for the .woff 404 error. You can see this error message:  
          GET https://cn.odinplus.ef.com/Content/bootstrap-3.0.3/fonts/glyphicons-halflings-regular.woff 404 (Not Found) 
          on https://cn.odinplus.ef.com/contact/21180244?tab=Progress page before this fix.
          For more information: 
          http://ideasof.andersaberg.com/idea/23/quick-fix-iis-woff-font-file-404-not-found-in-aspnet-mvc
        -->
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff"/>
    </staticContent>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ILocationService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://zizhujy.com/Services/LocationService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILocationService" contract="ZiZhuJYLocationService.ILocationService" name="WSHttpBindi_Layoutng_ILocationService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAPvKKx6OZJK4E3jXQG9mVbAR3gUUgAAAAAQAAAP4BAAAwggH6MIIBZ6ADAgECAhCx81CRzhbjmkzosDSnrKwEMAkGBSsOAwIdBQAwGDEWMBQGA1UEAxMNWmlaaHVKWVNlcnZlcjAeFw0xMjExMDYwNTQyMjNaFw0zOTEyMzEyMzU5NTlaMBgxFjAUBgNVBAMTDVppWmh1SllTZXJ2ZXIwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBALK2jvSaDSUtKuJoSM1DueZURC0/mkrKYIye2zp+XUa/Urq2/Yp3jdSbjqHBPmFTTrO9iZvhcJ8iwvg8iU0OH42KkxBB33EUu35Nacfc87Y5W3rRe4F4jdGHKKfAUkKfUIUetjiNIKArLxpqf0GBRURzoAbdfigosC6sfhL4ScKtAgMBAAGjTTBLMEkGA1UdAQRCMECAEPujI0lG4ODFBZxTxmxj6uShGjAYMRYwFAYDVQQDEw1aaVpodUpZU2VydmVyghCx81CRzhbjmkzosDSnrKwEMAkGBSsOAwIdBQADgYEAZh+/4FSylz8Uf476CMlz/4wA4CjnWKf2MZKVOMlZBdgqWTFC/fXD1Ui3ty1oPZP0W1OZ0HowFxvVJA7YDVI3W+6S9Vmvni4xeYGiKFILsY7FM7ghaKqSASdx4hmlbStsN+F1jmB1on3RKznY9ZIW2uDzqOG5FPtQ2Gv5jdbxl9c="/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <!--<system.diagnostics>
    <sources>
      <source name="Release" switchName="Release" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="logListener"></add>
          -->
  <!--<remove name="Default"></remove>-->
  <!--
        </listeners>
      </source>
      <source name="Debug" switchName="Debug" switchType="System.Diagnostics.SourceSwitch">
        <listeners>
          <add name="logListener"></add>
          -->
  <!--<remove name="Default"></remove>-->
  <!--
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="Debug" value="All"/>
      <add name="Release" value="All"/>
      -->
  <!--<add name="Release" value="Information, ActivityTracing"/>-->
  <!--
    </switches>
    <sharedListeners>
      <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Log\zizhujyLog.log">        
      </add>
      -->
  <!--<remove name="logListener"></remove>-->
  <!--
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="logListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="Log\zizhujyLog.log">
        </add>
        -->
  <!--<clear/>-->
  <!--
      </listeners>
    </trace>
  </system.diagnostics>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.86.0" newVersion="1.0.86.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.1" newVersion="4.0.0.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
</configuration>