@using ZiZhuJY.Web.UI.Utility

<li>@Html.CultureSelectionLink("en-US", "[English(United States)]", "English(United States)", new Dictionary<string, object>() { { "selected", "selected" } }, new Dictionary<string, object>() { })</li>
<li>@Html.CultureSelectionLink("zh-CN", "[中文（简体）]", "中文（简体）", new Dictionary<string, object>() { { "selected", "selected" } }, new Dictionary<string, object>() { })</li>