@{
    ViewBag.Title = "FunGrapherAppTest";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<h2>FunGrapherAppTest</h2>

<iframe src="@Url.Content("~/Apps/FunGrapher")" width="800" height="600"></iframe>
<iframe src="http://zizhujy.com/Apps/FunGrapher" width="800" height="600"></iframe>