@{
    ViewBag.Title = "IconFonts";
    Layout = "~/Views/Shared/_SimpleLayout.cshtml";
}

<h2>IconFonts</h2>

<div><span class="icon">!</span></div>
<div><span class="icon">+</span></div>
<div><span class="icon">-</span></div>
<div><span class="icon">?</span></div>
<div><span class="icon">A</span></div>
<div><span class="icon">B</span></div>
<div><span class="icon">C</span></div>
<div><span class="icon">E</span></div>
<div><span class="icon">L</span></div>
<div><span class="icon">P</span></div>
<div><span class="icon">T</span></div>
<div><span class="icon">a</span></div>
<div><span class="icon">b</span></div>
<div><span class="icon">c</span></div>
<div><span class="icon">d</span></div>
<div><span class="icon">e</span></div>
<div><span class="icon">f</span></div>
<div><span class="icon">g</span></div>
<div><span class="icon">i</span></div>
<div><span class="icon">l</span></div>
<div><span class="icon">m</span></div>
<div><span class="icon">p</span></div>
<div><span class="icon">r</span></div>
<div><span class="icon">s</span></div>
<div><span class="icon">t</span></div>
<div><span class="icon">u</span></div>
<div><span class="icon">v</span></div>
<div><span class="icon">z</span></div>
<div><span class="icon">&#xd7;</span></div>
<div><span class="icon">&#x2190;</span></div>
<div><span class="icon">&#x2191;</span></div>
<div><span class="icon">&#x2192;</span></div>
<div><span class="icon">&#x2193;</span></div>
<div><span class="icon">&#x21a9;</span></div>
<div><span class="icon">&#x2295;</span></div>
<div><span class="icon">&#x2297;</span></div>
<div><span class="icon">&#x229d;</span></div>
<div><span class="icon">&#x2302;</span></div>
<div><span class="icon">&#x231a;</span></div>
<div><span class="icon">&#x25b6;</span></div>
<div><span class="icon">&#x2601;</span></div>
<div><span class="icon">&#x2605;</span></div>
<div><span class="icon">&#x266b;</span></div>
<div><span class="icon">&#x2691;</span></div>
<div><span class="icon">&#x2699;</span></div>
<div><span class="icon">&#x26a0;</span></div>
<div><span class="icon">&#x2709;</span></div>
<div><span class="icon">&#x270e;</span></div>
<div><span class="icon">&#x2714;</span></div>
<div><span class="icon">&#x2764;</span></div>
<div><span class="icon">&#x27f2;</span></div>
<div><span class="icon">&#x2b07;</span></div>
<div><span class="icon">&#xf0c7;</span></div>
<div><span class="icon">&#xe001;</span></div>