@{
    ViewBag.Title = "LaTex";
}
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
<h2>LaTex</h2>

<p>\(y=\sum_{i=1}^n\)</p>