@{
    ViewBag.Title = "Index";

    ViewBag.ShowBanner = false;
}

<h2>Index</h2>

<form method="get">
    <p>
        <input type="text" name="chn" />
    </p>
    <p>
        <input type="submit" value="Submit" />
    </p>
</form>

<div>
    <ul>
        <li>
            <strong>PinYin:</strong>
            <span>
                
            </span>
        </li>
    </ul>
</div>