<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://zizhujy.com/Services/LocationService.svc"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ILocationService"
          contract="ILocationService" name="WSHttpBinding_ILocationService">
        <identity>
          <certificate encodedValue="AwAAAAEAAAAUAAAAPvKKx6OZJK4E3jXQG9mVbAR3gUUgAAAAAQAAAP4BAAAwggH6MIIBZ6ADAgECAhCx81CRzhbjmkzosDSnrKwEMAkGBSsOAwIdBQAwGDEWMBQGA1UEAxMNWmlaaHVKWVNlcnZlcjAeFw0xMjExMDYwNTQyMjNaFw0zOTEyMzEyMzU5NTlaMBgxFjAUBgNVBAMTDVppWmh1SllTZXJ2ZXIwgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBALK2jvSaDSUtKuJoSM1DueZURC0/mkrKYIye2zp+XUa/Urq2/Yp3jdSbjqHBPmFTTrO9iZvhcJ8iwvg8iU0OH42KkxBB33EUu35Nacfc87Y5W3rRe4F4jdGHKKfAUkKfUIUetjiNIKArLxpqf0GBRURzoAbdfigosC6sfhL4ScKtAgMBAAGjTTBLMEkGA1UdAQRCMECAEPujI0lG4ODFBZxTxmxj6uShGjAYMRYwFAYDVQQDEw1aaVpodUpZU2VydmVyghCx81CRzhbjmkzosDSnrKwEMAkGBSsOAwIdBQADgYEAZh+/4FSylz8Uf476CMlz/4wA4CjnWKf2MZKVOMlZBdgqWTFC/fXD1Ui3ty1oPZP0W1OZ0HowFxvVJA7YDVI3W+6S9Vmvni4xeYGiKFILsY7FM7ghaKqSASdx4hmlbStsN+F1jmB1on3RKznY9ZIW2uDzqOG5FPtQ2Gv5jdbxl9c=" />
        </identity>
      </endpoint>

        <!--<endpoint address="http://localhost:13623/LocationService.svc" binding="wsHttpBinding"
            contract="ILocationService" bindingConfiguration="WSHttpBinding_ILocationService"
            name="BasicHttpBinding_ILocationService" />-->
    </client>
    <extensions>
      <bindingExtensions>
        <add name="clearUsernameBinding" type="ZiZhuJY.ServiceModel.BindingExtensions.ClearUsernameCollectionElement, ClearUsernameBinding" />
      </bindingExtensions>
    </extensions>
    <bindings>
      
      <wsHttpBinding>
        <binding name="WSHttpBinding_ILocationService">
          <security>
            <message clientCredentialType="UserName" negotiateServiceCredential="false" />
          </security>
        </binding>
      </wsHttpBinding>
      

      <clearUsernameBinding>
        <binding name="myClearUsernameBinding" messageVersion="Soap12">
        </binding>
      </clearUsernameBinding>
      <basicHttpBinding>
        <binding name="userNameHttp">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Basic"></transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>