/* Override the master page style
---------------------------------------------*/

#page {
    min-width: 450px;
    min-height: 0;
}

#menucontainer {
    padding: 0;
}

#banner {
    padding: 0;
}

#main {
    padding: 0;
    min-height: 0;
}

#footer {
    padding: 0;
}

/* Function Grapher page style
----------------------------------------------*/

#funGrapher {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 12px;
    padding-bottom: 0;
    position: relative;
}

/* Canvas 
--------------------------------------------*/

#canvasWrapper {
    padding: 0;
    width: auto;
    height: auto;
    overflow: visible;
    float: left;
    position: relative;
    /*border: solid 1px black;*/
}

#canvas {
    width: 100%;
    height: 100%;
    margin: auto auto;
    overflow: hidden;
    position: relative;
    min-width: 300px;
    min-height: 300px;
}

#loading 
{
    font-size: xx-large;
    text-align: left;
    vertical-align: middle;
    line-height: 100%;
    margin: 30px 0 0 30px;
    padding: 0 0 0 30px;
    background: url('../../Images/loading.gif') no-repeat left center;
}

/* Controls
----------------------------------------------------------------------------*/

#controls {
    float: right;
    width: 200px;
    height: 100%;
    /*border: solid 1px black;*/
    position: absolute;
    right: 0;
    z-index: 10;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 5px;
}

#leftPanel {
    padding: 0;
    overflow: auto;
    clear: both;
    float: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#leftPanel .title
{
    position: fixed;
    height: 30px;
    line-height: 30px;
    width: 200px;
    z-index: 99;
    background-color: #F3F3F3;
    text-shadow: 1px 1px 5px rgba(100, 100, 100, 0.75);
    vertical-align: middle;
}

.expressionLine {
    width: auto;
    max-width: 100%;
    height: auto;
    border-top: solid 1px #421C52;
    border-bottom: solid 1px #421C52;
    padding: 3px 30px 3px 3px;
    border-collapse: collapse;
    position: relative;
    margin-bottom: -1px;
    font-size: smaller;
}

.expressionBox {
    margin: 0;
    font-size: 150%;
    font-family: "Times New Roman","Symbola-mq",serif;
    letter-spacing: 2px;
    height: auto;
    width: auto;
    max-width: 100%;
    position: relative;
}

.expressionBox span.mathquill-editable 
{
    width: 100%;
    padding-right: 0;
    padding-left: 0;
    /* For the space of clear × button */
    padding-right: 20px;
    box-sizing: border-box;
}

.expressionBox span 
{
    /*height: 100%;*/
    border: none;
}

.expressionBox .clear 
{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    width: 20px;
    height: 20px;
    color: #ddd;
}

.expressionBox .clear:hover 
{
    color: Black;
}

.error
{
    /*border: solid 2px red;*/
    background-color: #FFBBBB;
}

/* AdZone
------------------------------------------------------*/

#adZone {
    float: left;
}

/* Misc 
------------------------------------------------------*/

#mask-layer
{
    position: static;
    display: none;
}

#mask-layer .mask
{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: Black;
    opacity: 0.5;
}

#mask-layer div.content
{
    text-align: center;
    background-color: #421C52;
    color: White;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1em 0;
    z-index: 1000;
}

#mask-layer textarea#noop
{
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
}

#save-image-panel 
{
    position: absolute;
    z-index: 1001;
    right: 5px;
    top: 30px;
    display: none;
    height: auto;
    width: 150px;
    padding: 5px;
    background-color: White;
    border: solid 2px gray;
}

.canvas-image
{
    position: absolute;
    z-index: 1000;
}

.error-message-box 
{
    position: absolute;
    z-index: 1000;
    min-width: 100px;
    width: auto;
    min-height: 50px;
    border: solid 2px #FF6600;
    top: 0;
    left: 15px;
    display: none;
    background-color: White;
    padding: 5px 10px;
}

.active 
{
    display: block;
}

.error-icon-box 
{
    background: url('../../Images/error.png') no-repeat center center;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 150;
    cursor: pointer;
}

.error-icon-box span 
{
    color: yellow;
    font-size: 28px;
    line-height: 28px;    
    margin-top: -4px;    
}

.app-footer 
{
    color: White;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.9);
}

.app-footer a:link 
{
    color: White;
    text-decoration: none;
}

.app-footer a:visited 
{
    color: White;
    text-decoration: none;
}

.app-footer a:hover 
{
    color: Yellow;
    text-decoration: underline;
}

.app-footer a:active 
{
    color: Yellow;
    text-decoration: underline;
}