/* Override the master page style
---------------------------------------------*/

#page {
    min-width: 458px;
    min-height: 0;
}

#menucontainer {
    padding: 0;
}

#banner {
    padding: 0;
}

#main {
    padding: 0;
    min-height: 0;
}

#footer {
    padding: 0;
}
